@model IEnumerable<Onlinemoviesystem.Models.theatre_class>
@{
    ViewBag.Title = "Search_Menu";
}

<h2>Welcome Admin</h2>

<div style="text-align:center">
    <br />
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Search Screen", "Search_Screen")</button><br /><br />
    <button type="button" class="btn btn-secondary">@Html.ActionLink("Search Movie", "SearchMovie")</button><br /><br />
</div>
