@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>Contact Us</h2>

<address>
    <h3>Sruthi</h3><br />
   <h3>Vizag</h3><br/>
    9154023674<br/>
    sruthi.kuppili1998@gmail.com
</address>
